@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    var serverTime = DateTime.Now;
}
<div class="text-center">
    <h1 class="display-4">This will display server time</h1>
    <p>server time is: @serverTime</p>
</div>
